<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <div class="search">
      <ion-searchbar
      [(ngModel)]="search"
      (ngModelChange)="getRecipeByTitle()" placeholder="Search by title">
      </ion-searchbar>
    </div>
  </ion-header>

  <div id="container">
    <app-recipe-card
    *ngFor="let recipe of recipes | async"
    [recipe]="recipe"
    ></app-recipe-card>
  </div>
</ion-content>
